<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>A Special Day</title>
    </head>
    <body>
        <!-- navbar-->
        @RenderPage("navbar.cshtml");

        <!-- begin van de body-->
        <h3>A Special Day</h3>

        <p>Cadeautjes horen bij een bruiloft, maar hoe zorg je ervoor dat je niet dezelfde cadeau's koopt? <br />
        De webapplicatie "A Special Day" biedt hiervoor de uitkomst!</p>
        
        <p>Bruiden kunnen hun registreren en doormiddel van de unieke code die zij toegewezen krijgen kunnen zij een wenslijst opstellen en deze doorsturen naar de gasten.
        Gasten kunnen vervolgens onderling aangeven welke cadeau's zij willen kopen en deze zullen dan ook voor de andere gasten niet meer te zien zijn. <br />
        De bruid kan de cadeau's overal en altijd gemakkelijk wijzigen wanneer zij iets anders willen.
        
        </p>

     


        


        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>
