@{ 
    var napost = "Dit is voor de Post";

    if (IsPost)
    {

        napost = "Dit is na de post";

    }

    

   
}

<!DOCTYPE html>
<html>
    <head>
        <title>A Special Day | Inloggen</title>
    </head>
    <body>
       <p>@napost</p>
       
</p>
    </body>
</html>
